.weather-wrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

/* LEFT PANEL */
.left-panel {
  width: 260px;
  background: #0e0f14;
  color: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.7);
}

.left-day {
  font-size: 26px;
  font-weight: bold;
}

.left-date, .left-location {
  opacity: 0.7;
}

.left-icon-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ff7b54;
  margin: 20px 0;
}

.left-temp {
  font-size: 48px;
  font-weight: bold;
  color: #8cabff;
}

.left-desc {
  font-size: 18px;
  margin-top: 5px;
  opacity: 0.9;
}

/* RIGHT PANEL */
.glass-panel {
  width: 600px;
  background: #15161b;
  border-radius: 25px;
  padding: 25px;
  color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* Dropdown */
.city-dropdown {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #22232a;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Forecast */
.forecast-strip {
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  background: #1d1f25;
  padding: 12px;
  width: 70px;
  border-radius: 12px;
  text-align: center;
}

.forecast-icon {
  width: 25px;
  height: 25px;
  background: gray;
  border-radius: 50%;
  margin: auto;
}

/* Stats */
.stats-box {
  margin-top: 20px;
  background: #101117;
  padding: 20px;
  border-radius: 12px;
}

.stats-box .value {
  float: right;
  opacity: 0.9;
}
